
/* CSS Grid   */
.gallery-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(140px,1fr));
    grid-auto-rows: minmax(200px,.8fr);

    grid-template-areas: 
    "side1 sect1 sect1 sect1"
    "side2 sect1 sect1 sect1"
    "side3 sect2 sect2 sect3"
    "sect4 sect4 sect4 sect3";


    


}
.gallery-grid-example {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 300px 350px 300px;
    grid-gap: 10px;
    border: 5px solid #222;
    margin: auto;
    width: 70%;
}

.gallery-grid .card:hover {
    border: 1px solid rgb(231, 231, 231);
}

.gallery-grid-example div:hover {
    border: 5px dashed rgb(0, 175, 32);
}

.gallery-grid-example div:nth-child(4) {
    border: 5px dashed rgb(106, 5, 201);
}

/********************************//********************************/
.horizontal-rectangle {
    grid-column: span 2;
}

.gallery-style-2 .card:nth-child(1) {
    grid-area: side1;
     
}

.gallery-style-2 .card:nth-child(2) {
    grid-area: sect1;
     
}

.gallery-style-2 .card:nth-child(3) {
    grid-area: side2;
     
}

.gallery-style-2 .card:nth-child(4) {
    grid-area: side3;
     
}

.gallery-style-2 .card:nth-child(5) {
    grid-area: sect2;
     
}
.gallery-style-2 .card:nth-child(6) {
    grid-area: sect3;
     
}

.gallery-style-2 .card:nth-child(7) {
    grid-area: sect4;
      
}

/********************************//********************************//********************************/

.gallery-style-3 {

    grid-template-columns: repeat(6, minmax(140px,1fr));
   

}
.vertical-rectangle {
    grid-row: span 2;
}
.longvertical-rectangle {
    grid-row: span 3;
}
.square {
    grid-area: span 2;
}

.horizontal-rectangle {
    grid-column: span 2;
}